{% set active_page = 'products' %}
{% set title = product.name %}

{% extends "root.html" %}

{% block content %}

<div ng-app="simplaApp"
     ng-controller="productController"
     class="container-fluid"
     style="margin-left: 10%; margin-right: 10%; max-width: 100%; margin-bottom: 200px;">

  <div class="starter-template">
    <h1><a href="{{ product.get_url() }}" target="_blank">{{ title }}</a></h1>
  </div>


  <div class="row">
    <div ng-repeat="group in product.groups" class="col-xs-4 col-lg-3 outer-rectangle">
      <div class="rectangle">

        <div class="checkbox">
          <label style="font-weight: bold;">
            <input type="checkbox" ng-model="group.parent.present" ng-change="fixChecking(group.parent.id)">
            {{ '{{ group.parent.name }}' }}
          </label>
        </div>

        <div class="checkbox" ng-repeat="child in group.children">
          <label>
            <input type="checkbox" ng-model="child.present">
            {{ '{{ child.name }}' }}
          </label>
        </div>
      </div>

    </div>
  </div>



  <!-- <pre>product = {{ '{{product | json}}' }}</pre> -->


</div>



{% endblock %}
